* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: aliceblue;
}
.title {
  text-align: center;
  background: linear-gradient(to right, rgb(73, 3, 116), purple, red, orange);
  background-clip: text;
  color: transparent;
  font-weight: 860;
}
.intropara {
  text-align: center;
  color: darkgrey;
  margin-top: 10px;
}
.navlist1 {
  display: inline;
}
.listitem {
  color: black;
  text-decoration: none;
  font-weight: 700;
  padding: 0px 8.9px;
}
nav {
  background: linear-gradient(
    to right,
    rgb(127, 127, 243),
    rgb(169, 53, 252),
    rgb(90, 2, 102)
  );
  height: 40px;
  padding: 8px;
  width: 500px;
  margin: 10px auto;
  border-radius: 20px;
  border: 2px ridge rgb(213, 128, 224);
}
.bgvideo {
  width: 100%;
}
section {
  background-color: rgb(18, 0, 31);
  border: 3px solid rgb(57, 0, 91);
  width: 96%;
  margin: 25px auto;
  border-radius: 20px;
  padding: 10px 30px;
  box-shadow: 3px 5px 15px rgb(175, 51, 247);
  transition: all 0.25s ease-in-out;
}
.section-title {
  background: linear-gradient(to right, orange 0%, red 9%);
  background-clip: text;
  color: transparent;
  font-size: 24px;
  padding: 3.5px;
}
section:hover {
  transform: scale(1.03);
}
.button {
  text-decoration: none;
  background: linear-gradient(
    to right,
    rgb(183, 62, 231),
    rgb(102, 3, 155),
    rgb(165, 108, 4)
  );
  background-clip: text;
  color: transparent;
  font-weight: 500;
}
.curve {
  border-radius: 10px;
  padding: 5px 5px;
  border: 50px beige;
  background-color: white;
}
.list {
  padding: 5px 25px;
}
.para {
  padding-bottom: 12px;
}
.tech {
  display: inline-block;
  margin: 10px 90px 10px 90px;
  padding: 5px 5px 5px;
}
.definition {
  background: linear-gradient(to right, orange 0%, red 99%);
  background-clip: text;
  color: transparent;
  text-align: left;
  padding: 3px 0px 3px 0px;
  font-size: large;
  font-weight: bold;
}
.curve2 {
  border-radius: 18px;
  border: 2px orange;
  margin: 5px 50px 5px 50px;
}
.discription {
  font-weight: 500;
}
.curve3 {
  border-radius: 15px;
  padding: 25px 25px;
  border: 50px beige;
  background-color: white;
  margin: 5px 0px 5px 135px;
}
.button2 {
  text-decoration: none;
  background: linear-gradient(
    to right,
    rgb(183, 62, 231),
    rgb(102, 3, 155),
    rgb(165, 108, 4)
  );
  background-clip: text;
  color: transparent;
  font-weight: 500;
  padding: 5px 50px 5px 50px;
}
.contact {
  display: inline-block;
  margin: 20px 10px;
}
.contact2 {
  text-decoration: none;
  background: linear-gradient(to right, green, yellow, orange);
  background-clip: text;
  color: transparent;
  font-weight: 500;
}
.social {
  margin: 0px 10px;
}
.uparrow {
  margin: 0px 0px 0px 1050px;
}
